@font-face {
  font-family: "Varela";
  src: url("../fonts/VarelaRound-Regular.ttf");
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-image: url(../img/bg.jpg);
	background-repeat: repeat-y repeat-x;
	background-attachment: fixed;
	background-color: #f8f9fb;
}

/* Slider */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
     /* width: 70%;*/
      margin: auto;
}

/* Color del footer*/
.color-footer{
	background-image: url(../img/textura1.png);
	background-color: #312e29;
	text-align: center;
	padding-bottom: 21px;
    padding-top: 15px;
}

/* Color del copyrigth*/
.color-footer-leter {
	color: #FFFFFF;
}

/* texto footer */
.text-footer{
    font-size: 15px;
    color: #e2e1e1;
    margin-right: 10px;
    margin-left: 10px;
}

/* Estilo del navbar y todo lo que lo integra */

.navbar-default {
	font-family: "Varela";
	background: url(../img/nav.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(248, 248, 248, 0);
}

.container-fluid {
    padding-left: 7%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #e4e4e4;
    background-color: rgba(222, 148, 138, 0.27);
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.nav-barra{
	background: url(../img/barra1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* Estilo nombre del proyecto */
.text-namep{
	font-family: "Varela";
	font-size: 28px;
    color: #555;
    text-align: center;
    padding-top: 20px;
}

/* Estilo titulo de index */
.titulo{
	font-family: "Varela";
	margin-top: 12%;
	font-size: 78px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

/* Boton rojo */
.btn-danger {
    color: #fff;
    background-color: #e51a2b;
    border-color: #ce1828;
}

/* Boton azul oscuro */
.btn-azul{
	color: #fff;
    background-color: #14505a;
    border-color: #092c33;
}
.btn-azul:focus,
.btn-azul.focus {
  color: #fff;
  background-color: #1c7786;
  border-color: #136777;
}
.btn-azul:hover {
  color: #fff;
  background-color: #1c7786;
  border-color: #136777;
}

/* Submenu estilos titulo*/
.sub-titulo{
	color: #fff;
    background-color: #e72b30;
    font-family: "Varela";
	padding: 10px 10px 2px 10px;
	font-size: 18px;
	text-align: center;
	
}

/* Submenu estilos cuerpo*/
.sub-cuerpo{
	color: #fff;
    background-color: #e72b30;
    font-family: "Varela";
	padding: 10px 10px 2px 10px;
	font-size: 15px;
	box-shadow: inset 0px 4px 4px rgba(56, 48, 48, 0.39);
}

/* Submenu estilos textos*/
.sub-texto-cajon{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.23); 
}

/* texto blanco */
.blanco{
	color: #fff;
}

/* Thead estilo */
.thead-s{
	background: #e8e8e8;
    color: #383631;
    font-size: 17px;
    font-family: "Varela";
}

/* borde punteado tr */
.border-dotted{
	border-bottom-style: dotted;
    border-bottom-width: 2px;
}

.color-breadcrumbs > a{
	color: #e9473f;
}